<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripcraft.attraction.mapper.AttractionDetailImageMapper">

    <resultMap id="imageMap" type="com.tripcraft.attraction.domain.AttractionDetailImage">
        <id   column="id"             property="id"/>
        <result column="content_id"   property="contentId"/>
        <result column="serialnum"    property="serialnum"/>
        <result column="originimgurl" property="originimgurl"/>
        <result column="smallimageurl" property="smallimageurl"/>
        <result column="imgname"      property="imgname"/>
        <result column="cpyrht_div_cd" property="cpyrhtDivCd"/>
    </resultMap>

    <select id="findByContentId" resultMap="imageMap">
        SELECT * FROM attraction_detail_image WHERE content_id = #{contentId} ORDER BY serialnum
    </select>

    <delete id="deleteByContentId">
        DELETE FROM attraction_detail_image WHERE content_id = #{contentId}
    </delete>

    <insert id="insertAll">
        INSERT INTO attraction_detail_image
            (content_id, serialnum, originimgurl, smallimageurl, imgname, cpyrht_div_cd)
        VALUES
        <foreach item="img" collection="list" separator=",">
            (#{contentId}, #{img.serialnum}, #{img.originimgurl}, #{img.smallimageurl},
             #{img.imgname}, #{img.cpyrhtDivCd})
        </foreach>
    </insert>

</mapper>
